<% layout('layouts/boilerplate')%>
    <h1 class="mt-3">All Campgrounds</h1>
    <div class="mb-3">
        <a class="btn btn-dark" href="/campgrounds/new">Add New Campground</a>
    </div>
    <% for (let campground of campgrounds){%>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <div class="ratio ratio-4x3">
                        <img src="<%= campground.image %>" class="w-100 h-100" style="object-fit: cover;" alt="">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= campground.location%>
                            </small>
                        </p>
                        <a class="btn btn-outline-dark" href="/campgrounds/<%=campground._id%>">View <%=campground.title%>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <% }%>